
html, ul, a, li, i, h1, h2, label{
    font-family: 'Poppins', sans-serif; font-size: 15px;
}

body{margin: 0;}

iframe{
  width: 100%; height: 100%; border: none;
}

input{
  font-size: 2rem !important;
  width: 12rem !important;
  margin: 0 0.5rem 1rem 0.5rem !important;
  border-bottom: 0px solid #9e9e9e !important;
  height: inherit !important;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

input:focus{
	border-bottom: 0px solid #26a69a !important;
	box-shadow: 0 0px 0 0 #26a69a !important;
}

#btn-reload{
  position: fixed !important;
  right: 5% !important;
  bottom: 36% !important;
}

.text-result{
	font-size: 2rem !important;
  	width: 12rem !important;
	margin: 0 0 1rem 0;
	text-align: right;
}

.right-text{
	text-align: right;
}

.valid-input{
	background-color: #D6EAF8 !important;
}
.log-ok{
	color: #81c784;
}

.invalid-input{
	background-color: #FADBD8 !important;
}
.log-error{
	color: #e57373;
}

#inputs-calc {
	flex-direction: column;
	align-items: center;
    padding: 0 10% 0 10%;
}
#result-calc {
	flex-direction: column;
	align-items: center;
    padding: 0 10% 0 10%;
}

#resultado{display: none;}

.input-division{
	margin: 1.1rem 1rem 1rem 2rem !important;
}

.divider{
	border-bottom: 0.3rem solid #252525;
	width: 22rem;
	margin: 0 0 1rem 0;
}

.signo{
	font-size: 3rem;
    margin: -8.1rem 0 0 -17rem;
}

.casita{
	border-left: 0.3rem solid #252525;
	border-top: 0.3rem solid #252525;
}

.color-dark{color:  #252525;}
.back-dark{background-color: #252525;}

.div-center{
	display: flex; justify-content: center; align-items: center;
}

.mayus{
    text-transform: uppercase;
}

.float-default{
  float: initial !important;
}

.text-center{text-align: center;}

.title-content{
    font-size: 2.2rem;
    padding: 4rem 0rem 4rem 0rem;
}

.fs16{
    font-size: 1.6rem;
}

.text{
	font-size: 2.2rem;
    padding: 0.7rem 2rem 3rem 2rem;
    margin: 0;
}

.section{
    width: 100%;
    height: 800px;
    position: absolute; top: 0; left: 0;
    background-color: white;
    display: none;
    opacity: 0;
    transition: all 0.3s;
}

#menu{
    background-color: #252525;
    width: 100%; height: fit-content;
    display: flex; justify-content: center;
}

#ul_menu{
    margin: 0;
}

#menu ul li {
    position: relative; float: left;
    margin:0; padding:0;
    background-color:#252525;
    list-style: none;
}


#menu ul a {
  display: block;
  color:#fff;
  text-decoration: none;
  font-weight:400;
  font-size: 1.2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing:1px;
}


#menu ul li:hover {
  background:#5b78a7;
}

#menu ul ul {
    position: absolute; top:100%; left:0;
    display:none;
    padding:0;
}

#menu ul ul li {
  float:none; width:150px
}

#menu ul ul a {
  line-height:120%; padding:10px 15px;
}

#menu ul li:hover > ul {
  display:block;
}

#content{
    position: relative;
    width: 100%; height: 800px; background-color: #fff;
    overflow: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 1330px) {
  #menu ul a{font-size: 1.1rem;}
}
@media (max-width: 1230px) {
  #menu ul a{font-size: 0.78rem;}
}